body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(animangascenery.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.anime-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.anime-CLOTHES{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#text {
    text-align: center;
    color:darkmagenta ;
    font-size: 110px;
}
#gal1{
    color: rgb(205, 114, 3);
    margin-top: -80px;
    font-size:xx-large;
}
#gal {
    color: rgb(205, 114, 3);
}
#navbar{
    margin: 100px;
    padding: 50px;
    height: 150px;
    width: 950px;
    text-align: center;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: -50px;
    background-image: url(gon.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
#name {
    margin-top: 80px;
    text-decoration: none;
    color: rgb(229, 92, 92);
    font-size: 4rem;
}
li a {
    text-decoration: none;
    color: rgb(37, 2, 141);
    font-size: 2rem;
}
li{
    display: inline;
    padding: 30px;
    font-weight:bolder;

}
#all{
    text-align: center;
}
.product-container {
    width: 200px; 
    position: relative;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.cart-icon img {
    width: 30px; 
    cursor: pointer;
}
.cart-icon{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.total-box {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    background-color: rgba(20, 4, 4, 0.479);
}

.cart-icon2 {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;

}
#about{
    background-color:rgba(240, 248, 255, 0.418);
    border: 5px solid rgb(1, 0, 0);
}
