body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(animangascenery.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* nav{
    color: rgb(235, 15, 15);
} */
.anime-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.anime-CLOTHES{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#text {
    text-align: center;
    color:darkmagenta ;
    font-size: 36px;
}
#gal {
    color: rgb(205, 114, 3);
}
#navbar{
    margin: 100px;
    padding: 50px;
    height: 150px;
    width: 950px;
    text-align: center;
    border: 1px solid black;
    margin-top: 5px;
    background-image: url(gon.jpeg);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
li a {
    text-decoration: none;
    color: rgb(37, 2, 141);
    font-size: 2rem;
    
}
li{
    display: inline;
    padding: 30px;
    font-weight:bolder;

}
#all{
    text-align: center;
}
